Repository KStrzechowski/Bachelor-thesis-LostAndFound: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Backend/build-with-tests-gateway-pipeline.yml, Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Pipelines/Backend/build-with-tests-gateway-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-GatewayWebApiBuildWithTests
  pool: Default
  stages:
  - template: Templates/build-with-tests-webapi-template.yml
    parameters:
      webapiProjectDirectory: Backend/Gateway/src/LostAndFound.Gateway
  ...

Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-FrontendMobileBuild
  pool: Default
  stages:
  - template: Templates/build-react-native-app-template.yml
    parameters:
      mobileProjectDirectory: Frontend/LostAndFoundMobile
      nodeVersion: 16.x
      artifactName: lostandfound.mobile

Fix: Ignore ssl
  Frontend/LostAndFoundMobile/android/app/src/main/java/com/lostandfoundmobile/IgnoreSSLFactory.java
  Frontend/LostAndFoundMobile/android/app/src/main/java/com/lostandfoundmobile/MainApplication.java
  Frontend/n
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

feat: Update packages
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add images and star rating
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/Config.ts
  Frontend/LostAndFoundMobile/src/Components/DocumentSelector.tsx
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Components/StarRating.tsx
  Frontend/LostAndFoundMobile/src/Components/index.ts
  Frontend/LostAndFoundMobile/src/Images/index.ts
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/src/SecureStorage/Authorization.ts
  Frontend/LostAndFoundMobile/src/SecureStorage/Profile.ts
  Frontend/LostAndFoundMobile/src/SecureStorage/index.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update index.ts
  Frontend/LostAndFoundMobile/src/Images/index.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update imports
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

feat: Update Readme
  Frontend/LostAndFoundMobile/README.md
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Fix: Let other user rate publication
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
Due: none

fix: Remove unused files
  Frontend/4.add-post.test.js
  Frontend/n
Due: none

Feat: Updated README.md
  README.md
Due: none

Feat: Change mobile to web in README.md
  README.md
Due: none

Fix: Issuer values need to be the same
  Backend/ChatService/src/LostAndFound.ChatService/appsettings.Development.json
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
Due: none

Feat: Add env files
  Frontend/LostAndFoundMobile/.env
  Frontend/LostAndFoundMobile/.env.production
  Frontend/LostAndFoundMobile/babel.config.js
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/yarn.lock
  Frontend/commons/lib/AppSettings.d.ts
  Frontend/commons/lib/AppSettings.js
  Frontend/commons/src/AppSettings.ts
  Frontend/lostandfound.web/.env
  Frontend/lostandfound.web/.env.production
  Frontend/lostandfound.web/package-lock.json
  Frontend/lostandfound.web/package.json
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add dotenv package to commons
  Frontend/commons/package-lock.json
  Frontend/commons/package.json
Due: none

Feat: Add types/node reference to commons
  Frontend/commons/package-lock.json
  Frontend/commons/package.json
Due: none

Feat: Change development paths
  Backend/AuthService/src/LostAndFound.AuthService/Properties/launchSettings.json
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Development.json
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.json
  Backend/ChatService/src/LostAndFound.ChatService/Properties/launchSettings.json
  Backend/ChatService/src/LostAndFound.ChatService/appsettings.Development.json
  Backend/Gateway/src/LostAndFound.Gateway/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/Properties/launchSettings.json
  Backend/Gateway/src/LostAndFound.Gateway/configuration.Development.json
  Backend/ProfileService/src/LostAndFound.ProfileService/Properties/launchSettings.json
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/Properties/launchSettings.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
  Backend/README.md
  Frontend/LostAndFoundMobile/.env
  Frontend/lostandfound.web/.env
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml, Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update package files
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/lostandfound.web/package-lock.json
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add initial docker configuration for backend
  Backend/.dockerignore
  Backend/AuthService/src/LostAndFound.AuthService/Dockerfile
  Backend/AuthService/src/LostAndFound.AuthService/LostAndFound.AuthService.csproj
  Backend/AuthService/src/LostAndFound.AuthService/Properties/launchSettings.json
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Development.json
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.json
  Backend/ChatService/src/LostAndFound.ChatService/Dockerfile
  Backend/ChatService/src/LostAndFound.ChatService/LostAndFound.ChatService.csproj
  Backend/ChatService/src/LostAndFound.ChatService/Properties/launchSettings.json
  Backend/ChatService/src/LostAndFound.ChatService/appsettings.Development.json
  Backend/Gateway/src/LostAndFound.Gateway/Dockerfile
  Backend/Gateway/src/LostAndFound.Gateway/LostAndFound.Gateway.csproj
  Backend/Gateway/src/LostAndFound.Gateway/Properties/launchSettings.json
  Backend/Gateway/src/LostAndFound.Gateway/configuration.Development.json
  Backend/LostAndFound.sln
  Backend/ProfileService/src/LostAndFound.ProfileService/Dockerfile
  Backend/ProfileService/src/LostAndFound.ProfileService/LostAndFound.ProfileService.csproj
  Backend/ProfileService/src/LostAndFound.ProfileService/Properties/launchSettings.json
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/Dockerfile
  Backend/PublicationService/src/LostAndFound.PublicationService/LostAndFound.PublicationService.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService/Properties/launchSettings.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
  Backend/docker-compose.dcproj
  Backend/docker-compose.override.yml
  Backend/docker-compose.yml
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Add azurite to docker-compose
  .gitignore
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
  Backend/docker-compose.yml
Due: none

Feat: Add docker compose production files
  Backend/docker-compose-production.override.yml
  Backend/docker-compose-production.yml
  Backend/dotnet-lostandfound.bat
  Backend/dotnet-lostandfound.sh
Due: none

Feat: Update backend readme
  Backend/README.md
Due: none

Refactor: Removing not needed code
  Backend/Gateway/src/LostAndFound.Gateway/Program.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
  Backend/README.md
  Frontend/LostAndFoundMobile/android/app/src/main/java/com/lostandfoundmobile/IgnoreSSLFactory.java
  Frontend/LostAndFoundMobile/android/app/src/main/java/com/lostandfoundmobile/MainApplication.java
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml, Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Fix: Change localhost to publication-service
  Backend/Gateway/src/LostAndFound.Gateway/configuration.Development.json
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/Settings/BlobStorageSettings.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Settings/BlobStorageSettings.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Update search of posts
  Frontend/LostAndFoundMobile/android/app/src/main/java/com/lostandfoundmobile/IgnoreSSLFactory.java
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/yarn.lock
  Frontend/commons/lib/services/publicationService/index.d.ts
  Frontend/commons/lib/services/publicationService/index.js
  Frontend/commons/lib/services/publicationService/publicationTypes.d.ts
  Frontend/commons/lib/services/publicationService/publicationTypes.js
  Frontend/commons/lib/services/publicationService/requests/get-publications.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/get-publications.request.js
  Frontend/commons/src/services/publicationService/index.ts
  Frontend/commons/src/services/publicationService/publicationTypes.ts
  Frontend/commons/src/services/publicationService/requests/get-publications.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update packages
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Delete IgnoreSSLFactory.java
  Frontend/LostAndFoundMobile/android/app/src/main/java/com/lostandfoundmobile/IgnoreSSLFactory.java
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Docker compose production
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Development.json
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.json
  Backend/Gateway/src/LostAndFound.Gateway/appsettings.json
  Backend/Gateway/src/LostAndFound.Gateway/configuration.Production.json
  Backend/docker-compose-production.override.yml
  Backend/docker-compose-production.yml
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Update packa-lock.json file
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Fix: Profile Service url
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Development.json
Due: none

Feat: Publication list filter by category
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationEntityMappingProfile.cs
  Frontend/lostandfound.web/src/components/publications/publicationsList.tsx
Due: none

Feat: Add Scroll View to registrationPage
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Fix: Change patch to PATCH to fix cors problem
  Frontend/commons/lib/services/profileService/requests/edit-profile-picture.request.js
  Frontend/commons/lib/services/publicationService/requests/edit-publication-photo.request.js
  Frontend/commons/lib/services/publicationService/requests/edit-publication-rating.request.js
  Frontend/commons/lib/services/publicationService/requests/edit-publication-state.request.js
  Frontend/commons/src/services/profileService/requests/edit-profile-picture.request.ts
  Frontend/commons/src/services/publicationService/requests/edit-publication-photo.request.ts
  Frontend/commons/src/services/publicationService/requests/edit-publication-rating.request.ts
  Frontend/commons/src/services/publicationService/requests/edit-publication-state.request.ts
Due: none

Refactor: Small changes in registrationpage mobile
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Add photo when adding post
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Include Photo
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/commons/lib/services/publicationService/requests/add-publication.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/add-publication.request.js
  Frontend/commons/src/services/publicationService/requests/add-publication.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add requests for chat service
  Frontend/commons/src/services/chatService/chatTypes.ts
  Frontend/commons/src/services/chatService/index.ts
  Frontend/commons/src/services/chatService/messageTypes.ts
  Frontend/commons/src/services/chatService/requests/add-chat-message.request.ts
  Frontend/commons/src/services/chatService/requests/get-chat-messages.request.ts
  Frontend/commons/src/services/chatService/requests/get-chats.request.ts
  Frontend/commons/src/services/chatService/requests/get-unread-notifications.request.ts
  Frontend/commons/src/services/chatService/requests/read-chat.request.ts
Due: none

Revert "fix: Add photo when adding post"
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Endpoint to get base profiles data for list of users
  Backend/Gateway/src/LostAndFound.Gateway/configuration.Development.json
  Backend/Gateway/src/LostAndFound.Gateway/configuration.Production.json
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/FluentValidators/GetBaseProfilesDataRequestDtoValidator.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/MappingProfiles/ProfileEntityMappingProfile.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/Interfaces/IUserProfileService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/UserProfileService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Requests/GetBaseProfilesDataRequestDto.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Responses/ProfileBaseDataResponseDto.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Controllers/ProfileController.cs
  Backend/ProfileService/tests/LostAndFound.ProfileService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Add Query param for get base data
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/FluentValidators/GetBaseProfilesDataRequestDtoValidator.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/Interfaces/IUserProfileService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/UserProfileService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Requests/GetBaseProfilesDataRequestDto.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Controllers/ProfileController.cs
  Backend/ProfileService/tests/LostAndFound.ProfileService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
Due: none

fix: Update chat function names and imports
  Frontend/commons/src/services/chatService/index.ts
  Frontend/commons/src/services/chatService/requests/add-chat-message.request.ts
  Frontend/commons/src/services/chatService/requests/get-unread-notifications.request.ts
  Frontend/commons/src/services/chatService/requests/read-chat.request.ts
Due: none

Path conditions:
  Pipelines/Backend/build-with-tests-gateway-pipeline.yml: any of: Backend/Gateway
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml: any of: Frontend/LostAndFoundMobile
