Repository KStrzechowski/Bachelor-thesis-LostAndFound: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Backend/build-with-tests-gateway-pipeline.yml, Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Pipelines/Backend/build-with-tests-gateway-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-GatewayWebApiBuildWithTests
  pool: Default
  stages:
  - template: Templates/build-with-tests-webapi-template.yml
    parameters:
      webapiProjectDirectory: Backend/Gateway/src/LostAndFound.Gateway
  ...

Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-FrontendMobileBuild
  pool: Default
  stages:
  - template: Templates/build-react-native-app-template.yml
    parameters:
      mobileProjectDirectory: Frontend/LostAndFoundMobile
      nodeVersion: 16.x
      artifactName: lostandfound.mobile

Feat: Change token refresh process
  Backend/AuthService/src/LostAndFound.AuthService.Core/AccountServices/AccountService.cs
Due: none

feat: photos implementation
  Frontend/commons/lib/AppSettings.js
  Frontend/commons/lib/services/profileService/index.d.ts
  Frontend/commons/lib/services/profileService/index.js
  Frontend/commons/lib/services/profileService/requests/edit-profile-picture-web.request.d.ts
  Frontend/commons/lib/services/profileService/requests/edit-profile-picture-web.request.js
  Frontend/commons/lib/services/publicationService/index.d.ts
  Frontend/commons/lib/services/publicationService/index.js
  Frontend/commons/lib/services/publicationService/requests/edit-publication-photo-web.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/edit-publication-photo-web.request.js
  Frontend/commons/lib/services/publicationService/requests/get-publications-undef.request.d.ts
  Frontend/commons/src/services/profileService/index.ts
  Frontend/commons/src/services/profileService/requests/edit-profile-picture-web.request.ts
  Frontend/commons/src/services/publicationService/index.ts
  Frontend/commons/src/services/publicationService/requests/edit-publication-photo-web.request.ts
  Frontend/commons/src/services/publicationService/requests/get-publications-undef.request.ts
  Frontend/lostandfound.web/src/components/imagePicker.tsx
  Frontend/lostandfound.web/src/components/navbar.tsx
  Frontend/lostandfound.web/src/components/profile/profile.tsx
  Frontend/lostandfound.web/src/components/profile/profileComments.tsx
  Frontend/lostandfound.web/src/components/profile/profileEdit.tsx
  Frontend/lostandfound.web/src/components/publications/editPublication.tsx
  Frontend/lostandfound.web/src/components/publications/myPublications.tsx
  Frontend/lostandfound.web/src/components/publications/newPublication.tsx
  Frontend/lostandfound.web/src/components/publications/publicationDetails.tsx
  Frontend/lostandfound.web/src/components/publications/publicationsList.tsx
  Frontend/lostandfound.web/src/components/register/login.tsx
  Frontend/lostandfound.web/src/components/register/register.tsx
  Frontend/lostandfound.web/src/components/register/relog.tsx
  Frontend/lostandfound.web/src/routes/root.tsx
  Frontend/lostandfound.web/src/userContext.ts
Due: none

fix: api link in production webapp
  Frontend/lostandfound.web/.env.production
Due: none

fix: Update chats context
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Remove all console.log from Frontend
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/commons/lib/authService.js
  Frontend/commons/lib/http.js
  Frontend/commons/lib/services/publicationService/requests/get-publications-undef.request.js
  Frontend/commons/lib/services/publicationService/requests/get-publications.request.js
  Frontend/commons/src/http.ts
  Frontend/commons/src/services/publicationService/requests/get-publications-undef.request.ts
  Frontend/commons/src/services/publicationService/requests/get-publications.request.ts
  Frontend/lostandfound.web/src/components/profile/profileEdit.tsx
  Frontend/lostandfound.web/src/components/publications/editPublication.tsx
  Frontend/lostandfound.web/src/components/publications/myPublications.tsx
  Frontend/lostandfound.web/src/components/publications/newPublication.tsx
  Frontend/lostandfound.web/src/components/publications/publicationsList.tsx
  Frontend/lostandfound.web/src/components/register/relog.tsx
  Frontend/lostandfound.web/src/routes/root.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update url to connect with SignalR
  Frontend/LostAndFoundMobile/App.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add pagination to commons library
  Frontend/commons/lib/http.d.ts
  Frontend/commons/lib/http.js
  Frontend/commons/lib/services/chatService/requests/get-chats.request.d.ts
  Frontend/commons/lib/services/chatService/requests/get-chats.request.js
  Frontend/commons/lib/services/profileService/requests/get-profile-comments.request.d.ts
  Frontend/commons/lib/services/profileService/requests/get-profile-comments.request.js
  Frontend/commons/lib/services/publicationService/requests/get-publications.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/get-publications.request.js
  Frontend/commons/src/http.ts
  Frontend/commons/src/services/chatService/requests/get-chats.request.ts
  Frontend/commons/src/services/profileService/requests/get-profile-comments.request.ts
  Frontend/commons/src/services/publicationService/requests/get-publications.request.ts
Due: none

Feat: Get pagination on mobile app
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update mobile app
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/src/SecureStorage/Authorization.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

feat: Add loading screen
  Frontend/LostAndFoundMobile/src/Components/LoadingComponent.tsx
  Frontend/LostAndFoundMobile/src/Components/index.ts
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Get pagination when requesting chat messages
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/commons/lib/services/chatService/requests/get-chat-messages.request.d.ts
  Frontend/commons/lib/services/chatService/requests/get-chat-messages.request.js
  Frontend/commons/src/services/chatService/requests/get-chat-messages.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update mobile app
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/src/Components/Colors.ts
  Frontend/LostAndFoundMobile/src/Components/LoadingComponent.tsx
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Components/PageSelector.tsx
  Frontend/LostAndFoundMobile/src/Components/index.ts
  Frontend/LostAndFoundMobile/src/Context/contextTypes.ts
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: small fix
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Publication refactoring web views
  Frontend/commons/lib/services/publicationService/requests/add-publication.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/add-publication.request.js
  Frontend/commons/src/services/publicationService/requests/add-publication.request.ts
  Frontend/commons/styles/common.scss
  Frontend/commons/styles/commons2.scss
  Frontend/lostandfound.web/src/components/imagePicker.tsx
  Frontend/lostandfound.web/src/components/profile/profileComments.tsx
  Frontend/lostandfound.web/src/components/publications/editPublication.tsx
  Frontend/lostandfound.web/src/components/publications/myPublications.tsx
  Frontend/lostandfound.web/src/components/publications/newPublication.tsx
  Frontend/lostandfound.web/src/components/publications/publicationDetails.tsx
  Frontend/lostandfound.web/src/components/publications/publicationsList.tsx
Due: none

feat: chat implementation and other fixes
  Frontend/commons/lib/services/publicationService/requests/get-publications-undef.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/get-publications-undef.request.js
  Frontend/commons/src/services/publicationService/requests/get-publications-undef.request.ts
  Frontend/lostandfound.web/package-lock.json
  Frontend/lostandfound.web/package.json
  Frontend/lostandfound.web/public/favicon.ico
  Frontend/lostandfound.web/public/icon.jpeg
  Frontend/lostandfound.web/public/index.html
  Frontend/lostandfound.web/public/manifest.json
  Frontend/lostandfound.web/src/chatContext.ts
  Frontend/lostandfound.web/src/components/chat/chat.tsx
  Frontend/lostandfound.web/src/components/chat/chats.tsx
  Frontend/lostandfound.web/src/components/imagePicker.tsx
  Frontend/lostandfound.web/src/components/navbar.tsx
  Frontend/lostandfound.web/src/components/pagination.tsx
  Frontend/lostandfound.web/src/components/profile/profile.tsx
  Frontend/lostandfound.web/src/components/profile/profileComments.tsx
  Frontend/lostandfound.web/src/components/profile/profileEdit.tsx
  Frontend/lostandfound.web/src/components/publications/editPublication.tsx
  Frontend/lostandfound.web/src/components/publications/myPublications.tsx
  Frontend/lostandfound.web/src/components/publications/newPublication.tsx
  Frontend/lostandfound.web/src/components/publications/publicationsList.tsx
  Frontend/lostandfound.web/src/components/register/login.tsx
  Frontend/lostandfound.web/src/components/register/register.tsx
  Frontend/lostandfound.web/src/routes/main.tsx
  Frontend/lostandfound.web/src/routes/root.tsx
Due: none

fix: Update chats
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update scroll on profile page
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: show user
  Frontend/lostandfound.web/src/components/chat/chat.tsx
  Frontend/lostandfound.web/src/components/chat/chats.tsx
  Frontend/lostandfound.web/src/components/pagination.tsx
  deployscript
Due: none

Feat: Return polish validation message
  Backend/AuthService/src/LostAndFound.AuthService.Core/FluentValidators/LoginRequestDtoValidator.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/FluentValidators/RegisterUserRequestDtoValidator.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/FluentValidators/CreateProfileCommentRequestDtoValidator.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/FluentValidators/UpdateProfileCommentRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/CreatePublicationRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidator.cs
Due: none

Test: Update test messages
  Backend/AuthService/tests/LostAndFound.AuthService.UnitTests/Core/FluentValidators/RegisterUserRequestDtoValidatorTests.cs
Due: none

Feat: Add Change password endpoint
  Backend/AuthService/src/LostAndFound.AuthService.Core/AccountServices/AccountService.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/AccountServices/IAccountService.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/FluentValidators/ChangeAccountPasswordRequestDtoValidator.cs
  Backend/AuthService/src/LostAndFound.AuthService.CoreLibrary/Requests/ChangeAccountPasswordRequestDto.cs
  Backend/AuthService/src/LostAndFound.AuthService.DataAccess/Repositories/AccountsRepository.cs
  Backend/AuthService/src/LostAndFound.AuthService.DataAccess/Repositories/Interfaces/IAccountsRepository.cs
  Backend/AuthService/src/LostAndFound.AuthService/Controllers/AccountController.cs
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/AuthenticationTests.cs
  Backend/AuthService/tests/LostAndFound.AuthService.UnitTests/Core/FluentValidators/ChangeAccountPasswordRequestDtoValidatorTests.cs
  Backend/AuthService/tests/LostAndFound.AuthService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
  Backend/Gateway/src/LostAndFound.Gateway/configuration.Development.json
  Backend/Gateway/src/LostAndFound.Gateway/configuration.Production.json
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

feat: Update registration errors handling
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/commons/lib/http.d.ts
  Frontend/commons/lib/http.js
  Frontend/commons/lib/services/authorizationService/index.d.ts
  Frontend/commons/lib/services/authorizationService/registerTypes.d.ts
  Frontend/commons/lib/services/authorizationService/requests/register.request.d.ts
  Frontend/commons/lib/services/authorizationService/requests/register.request.js
  Frontend/commons/src/http.ts
  Frontend/commons/src/services/authorizationService/index.ts
  Frontend/commons/src/services/authorizationService/registerTypes.ts
  Frontend/commons/src/services/authorizationService/requests/register.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update registration errors handling
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/commons/lib/http.d.ts
  Frontend/commons/lib/http.js
  Frontend/commons/lib/services/authorizationService/registerTypes.d.ts
  Frontend/commons/src/http.ts
  Frontend/commons/src/services/authorizationService/registerTypes.ts
  Frontend/commons/src/services/authorizationService/requests/register.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

feat: improvements in web views
  Frontend/commons/lib/services/authorizationService/index.d.ts
  Frontend/commons/lib/services/authorizationService/index.js
  Frontend/commons/lib/services/authorizationService/loginTypes.d.ts
  Frontend/commons/src/services/authorizationService/index.ts
  Frontend/commons/src/services/authorizationService/loginTypes.ts
  Frontend/lostandfound.web/src/components/chat/chat.tsx
  Frontend/lostandfound.web/src/components/chat/chats.tsx
  Frontend/lostandfound.web/src/components/profile/profile.tsx
  Frontend/lostandfound.web/src/components/profile/profileComments.tsx
  Frontend/lostandfound.web/src/components/profile/profileEdit.tsx
  Frontend/lostandfound.web/src/components/publications/editPublication.tsx
  Frontend/lostandfound.web/src/components/publications/newPublication.tsx
  Frontend/lostandfound.web/src/components/publications/publicationsList.tsx
  Frontend/lostandfound.web/src/components/register/login.tsx
  Frontend/lostandfound.web/src/components/register/register.tsx
  Frontend/lostandfound.web/src/routes/main.tsx
  Frontend/lostandfound.web/src/routes/root.tsx
Due: none

fix: missing files
  Frontend/commons/lib/services/authorizationService/requests/edit-pwd.request.d.ts
  Frontend/commons/lib/services/authorizationService/requests/edit-pwd.request.js
  Frontend/commons/src/services/authorizationService/requests/edit-pwd.request.ts
  Frontend/lostandfound.web/src/components/profile/pwdChange.tsx
Due: none

feat: Enable change password on mobile app
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Navigation/HomeStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditPasswordPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/src/Pages/index.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update change password
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditPasswordPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/commons/lib/services/authorizationService/index.d.ts
  Frontend/commons/lib/services/authorizationService/index.js
  Frontend/commons/lib/services/authorizationService/loginTypes.d.ts
  Frontend/commons/lib/services/authorizationService/requests/change-password.d.ts
  Frontend/commons/lib/services/authorizationService/requests/change-password.js
  Frontend/commons/src/services/authorizationService/index.ts
  Frontend/commons/src/services/authorizationService/loginTypes.ts
  Frontend/commons/src/services/authorizationService/requests/change-password.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Resolve merge conflicts
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditPasswordPage.tsx
  Frontend/commons/lib/services/authorizationService/index.d.ts
  Frontend/commons/lib/services/authorizationService/index.js
  Frontend/commons/lib/services/authorizationService/loginTypes.d.ts
  Frontend/commons/lib/services/authorizationService/requests/change-password.d.ts
  Frontend/commons/lib/services/authorizationService/requests/change-password.js
  Frontend/commons/src/services/authorizationService/requests/change-password.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Fix: Search query not case sensitive
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/PublicationsRepository.cs
Due: none

Fix: Correct regular expression options
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/PublicationsRepository.cs
Due: none

Path conditions:
  Pipelines/Backend/build-with-tests-gateway-pipeline.yml: any of: Backend/Gateway
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml: any of: Frontend/LostAndFoundMobile
