Repository KStrzechowski/Bachelor-thesis-LostAndFound: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Backend/build-with-tests-gateway-pipeline.yml, Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Pipelines/Backend/build-with-tests-gateway-pipeline.yml:

name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-GatewayWebApiBuildWithTests

pool: Default

trigger:
  paths:
    include:
    - Backend/Gateway/*

stages:
  - template: Templates/build-with-tests-webapi-template.yml
    parameters:
      webapiProjectDirectory: Backend/Gateway/src/LostAndFound.Gateway
      unitTestProjectDirectory: Backend/Gateway/tests/LostAndFound.Gateway.UnitTests
      runUnitTests: true
      integrationTestProjectDirectory: Backend/Gateway/tests/LostAndFound.Gateway.IntegrationTests
      runIntegrationTests: true
      artifactName: LostAndFound.Gateway

Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml:

name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-FrontendMobileBuild

pool: Default

trigger:
  paths:
    include:
    - Frontend/LostAndFoundMobile/*

stages:
  - template: Templates/build-react-native-app-template.yml
    parameters:
      mobileProjectDirectory: Frontend/LostAndFoundMobile
      nodeVersion: 16.x
      artifactName: lostandfound.mobile

feat: Add request to get base user profiles
  Frontend/commons/src/services/profileService/index.ts
  Frontend/commons/src/services/profileService/requests/get-base-profiles.request.ts
Due: none

feat: Update commons package build
  Frontend/commons/lib/services/chatService/chatTypes.d.ts
  Frontend/commons/lib/services/chatService/chatTypes.js
  Frontend/commons/lib/services/chatService/index.d.ts
  Frontend/commons/lib/services/chatService/index.js
  Frontend/commons/lib/services/chatService/messageTypes.d.ts
  Frontend/commons/lib/services/chatService/messageTypes.js
  Frontend/commons/lib/services/chatService/requests/add-chat-message.request.d.ts
  Frontend/commons/lib/services/chatService/requests/add-chat-message.request.js
  Frontend/commons/lib/services/chatService/requests/get-chat-messages.request.d.ts
  Frontend/commons/lib/services/chatService/requests/get-chat-messages.request.js
  Frontend/commons/lib/services/chatService/requests/get-chats.request.d.ts
  Frontend/commons/lib/services/chatService/requests/get-chats.request.js
  Frontend/commons/lib/services/chatService/requests/get-unread-notifications.request.d.ts
  Frontend/commons/lib/services/chatService/requests/get-unread-notifications.request.js
  Frontend/commons/lib/services/chatService/requests/read-chat.request.d.ts
  Frontend/commons/lib/services/chatService/requests/read-chat.request.js
  Frontend/commons/lib/services/profileService/index.d.ts
  Frontend/commons/lib/services/profileService/index.js
  Frontend/commons/lib/services/profileService/requests/get-base-profiles.request.d.ts
  Frontend/commons/lib/services/profileService/requests/get-base-profiles.request.js
Due: none

Feat: Update chat on mobile app
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/commons/lib/index.d.ts
  Frontend/commons/lib/index.js
  Frontend/commons/lib/services/chatService/messageTypes.js
  Frontend/commons/lib/services/chatService/requests/add-chat-message.request.js
  Frontend/commons/lib/services/chatService/requests/get-chat-messages.request.js
  Frontend/commons/lib/services/profileService/index.d.ts
  Frontend/commons/lib/services/profileService/profileTypes.d.ts
  Frontend/commons/lib/services/profileService/requests/get-base-profiles.request.d.ts
  Frontend/commons/src/index.ts
  Frontend/commons/src/services/chatService/messageTypes.ts
  Frontend/commons/src/services/chatService/requests/add-chat-message.request.ts
  Frontend/commons/src/services/chatService/requests/get-chat-messages.request.ts
  Frontend/commons/src/services/profileService/index.ts
  Frontend/commons/src/services/profileService/profileTypes.ts
  Frontend/commons/src/services/profileService/requests/get-base-profiles.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update profile view and profile comments
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/LoginPage.tsx
  Frontend/lostandfound.web/package-lock.json
  Frontend/lostandfound.web/package.json
  Frontend/lostandfound.web/src/components/profile/profile.tsx
  Frontend/lostandfound.web/src/components/profile/profileComments.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Fix: Update chat
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Change edit icon size
  Frontend/lostandfound.web/src/components/profile/profile.tsx
Due: none

fix: use bootstrap classes
  Frontend/lostandfound.web/src/components/profile/profile.tsx
  Frontend/lostandfound.web/src/components/profile/profileComments.tsx
Due: none

Feat: Add AppBar to mobile
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/src/Components/DocumentSelector.tsx
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update views
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/yarn.lock
  Frontend/commons/lib/services/profileService/requests/get-base-profiles.request.js
  Frontend/commons/src/services/profileService/requests/get-base-profiles.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update yarn.lock file
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update AppBar
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update drawer stack
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Fix: Move PapperProvide to AuthContext
  Frontend/LostAndFoundMobile/App.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update mobile app views
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/Config.ts
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/src/SecureStorage/Authorization.ts
  Frontend/LostAndFoundMobile/src/SecureStorage/Profile.ts
  Frontend/LostAndFoundMobile/src/SecureStorage/index.ts
  Frontend/commons/lib/services/publicationService/requests/get-publications.request.js
  Frontend/commons/src/services/publicationService/requests/get-publications-undef.request.ts
  Frontend/commons/src/services/publicationService/requests/get-publications.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update navigation
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add rabbitMQ
  Backend/AuthService/src/LostAndFound.AuthService.Core/AccountServices/AccountService.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/CoreServicesRegistration.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/HttpClients/Interfaces/IProfileHttpClient.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/HttpClients/ProfileHttpClient.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/LostAndFound.AuthService.Core.csproj
  Backend/AuthService/src/LostAndFound.AuthService.Core/MappingProfiles/ProfileEntityMappingProfile.cs
  Backend/AuthService/src/LostAndFound.AuthService.CoreLibrary/Messages/NewUserAccountMessageDto.cs
  Backend/AuthService/src/LostAndFound.AuthService.ThirdPartyServices/AuthServiceThirdPartyServicesRegistration.cs
  Backend/AuthService/src/LostAndFound.AuthService.ThirdPartyServices/LostAndFound.AuthService.ThirdPartyServices.csproj
  Backend/AuthService/src/LostAndFound.AuthService.ThirdPartyServices/RabbitMQ/MessageProducers/Interfaces/IMessageProducer.cs
  Backend/AuthService/src/LostAndFound.AuthService.ThirdPartyServices/RabbitMQ/MessageProducers/RabbitMQMessageProducer.cs
  Backend/AuthService/src/LostAndFound.AuthService.ThirdPartyServices/RabbitMQ/Settings/RabbitMQSettings.cs
  Backend/AuthService/src/LostAndFound.AuthService/LostAndFound.AuthService.csproj
  Backend/AuthService/src/LostAndFound.AuthService/Program.cs
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Development.json
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.json
  Backend/AuthService/tests/LostAndFound.AuthService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
  Backend/LostAndFound.sln
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/FluentValidators/CreateProfileRequestDtoValidator.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/FluentValidators/FluentValidatorsRegistration.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/MappingProfiles/ProfileEntityMappingProfile.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/Interfaces/IUserProfileService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/UserProfileService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Messages/NewUserAccountMessageDto.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Settings/RabbitMQSettings.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/BackgroundServices/RabbitMQBackgroundConsumerService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Controllers/ProfileController.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/LostAndFound.ProfileService.csproj
  Backend/ProfileService/src/LostAndFound.ProfileService/Program.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.json
  Backend/ProfileService/tests/LostAndFound.ProfileService.UnitTests/Core/FluentValidators/CreateProfileRequestDtoValidatorTests.cs
  Backend/ProfileService/tests/LostAndFound.ProfileService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
  Backend/docker-compose.yml
Due: none

Test: Add service registration unit tests
  Backend/AuthService/tests/LostAndFound.AuthService.UnitTests/ServiceRegistrations/AuthServiceThirdPartyServicesRegistrationTests.cs
  Backend/AuthService/tests/LostAndFound.AuthService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
Due: none

Fix: Correct setting name to RabbitMQ
  Backend/AuthService/src/LostAndFound.AuthService.ThirdPartyServices/RabbitMQ/Settings/RabbitMQSettings.cs
  Backend/AuthService/tests/LostAndFound.AuthService.UnitTests/ServiceRegistrations/AuthServiceThirdPartyServicesRegistrationTests.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Settings/RabbitMQSettings.cs
Due: none

Feat: Update integration tests
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Settings/RabbitMQSettings.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/BackgroundServices/RabbitMQBackgroundConsumerService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.json
  Backend/ProfileService/tests/LostAndFound.ProfileService.IntegrationTests/IntegratioTestWebApplicationFactory.cs
Due: none

Fix: Add random port
  Backend/ProfileService/tests/LostAndFound.ProfileService.IntegrationTests/IntegratioTestWebApplicationFactory.cs
Due: none

Fix: Fix connection problem in integration tests
  Backend/ProfileService/src/LostAndFound.ProfileService/BackgroundServices/RabbitMQBackgroundConsumerService.cs
  Backend/ProfileService/tests/LostAndFound.ProfileService.IntegrationTests/IntegratioTestWebApplicationFactory.cs
Due: none

Feat: Fix problem with profileservice
  Backend/docker-compose.yml
Due: none

Feat: Update mobile app views
  Frontend/LostAndFoundMobile/src/Components/Colors.ts
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Components/index.ts
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/src/SecureStorage/Authorization.ts
  Frontend/commons/lib/services/authorizationService/requests/refresh-token.request.js
  Frontend/commons/src/services/authorizationService/requests/refresh-token.request.ts
  Frontend/commons/styles/commons2.scss
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Fix: Problem with IAsyncCursor in profilecomment service
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/ProfileCommentService.cs
Due: none

Feat: Initial url configurations
  Backend/AuthService/src/LostAndFound.AuthService/Program.cs
  Backend/AuthService/src/LostAndFound.AuthService/Properties/launchSettings.json
  Backend/ChatService/src/LostAndFound.ChatService/Program.cs
  Backend/ChatService/src/LostAndFound.ChatService/Properties/launchSettings.json
  Backend/Gateway/src/LostAndFound.Gateway/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/Properties/launchSettings.json
  Backend/Gateway/src/LostAndFound.Gateway/configuration.Production.json
  Backend/ProfileService/src/LostAndFound.ProfileService/Program.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Properties/launchSettings.json
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Properties/launchSettings.json
  Frontend/LostAndFoundMobile/.env.production
  Frontend/lostandfound.web/.env.production
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml, Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update appsettings for development
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Development.json
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.json
  Backend/ChatService/src/LostAndFound.ChatService/appsettings.Development.json
  Backend/Gateway/src/LostAndFound.Gateway/appsettings.Development.json
  Backend/Gateway/src/LostAndFound.Gateway/appsettings.json
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Production settings configuration
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Production.json
  Backend/ChatService/src/LostAndFound.ChatService/appsettings.Production.json
  Backend/Gateway/src/LostAndFound.Gateway/appsettings.Production.json
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Production.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Production.json
  Backend/docker-compose-production.yml
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Change gateway production port
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Production.json
  Backend/docker-compose-production.yml
Due: none

Feat: Update azurite production connection string
  Backend/AuthService/src/LostAndFound.AuthService/Dockerfile
  Backend/AuthService/src/LostAndFound.AuthService/LostAndFound.AuthService.csproj
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Production.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Production.json
Due: none

Feat: Change azurite production ports to 10100
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Production.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Production.json
  Backend/docker-compose-production.yml
Due: none

Fix: Change production docker-compose
  Backend/docker-compose-production.yml
Due: none

Feat: Add serilog to all services
  Backend/AuthService/src/LostAndFound.AuthService/LostAndFound.AuthService.csproj
  Backend/AuthService/src/LostAndFound.AuthService/Middleware/ErrorHandlingMiddleware.cs
  Backend/AuthService/src/LostAndFound.AuthService/Program.cs
  Backend/ChatService/src/LostAndFound.ChatService/LostAndFound.ChatService.csproj
  Backend/ChatService/src/LostAndFound.ChatService/Middleware/ErrorHandlingMiddleware.cs
  Backend/ChatService/src/LostAndFound.ChatService/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/LostAndFound.Gateway.csproj
  Backend/Gateway/src/LostAndFound.Gateway/Program.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/LostAndFound.ProfileService.csproj
  Backend/ProfileService/src/LostAndFound.ProfileService/Middleware/ErrorHandlingMiddleware.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Program.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/LostAndFound.PublicationService.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService/Middleware/ErrorHandlingMiddleware.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
  Backend/docker-compose-production.yml
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Changes in docker-compose-production
  .gitignore
  Backend/AuthService/src/LostAndFound.AuthService/Program.cs
  Backend/ChatService/src/LostAndFound.ChatService/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/Program.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Program.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Production.json
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Production.json
  Backend/docker-compose-production.yml
  Backend/docker-compose.yml
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Replace host uri for production
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Production.json
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Production.json
Due: none

Feat: Add SignalR to mobile app
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/Config.ts
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/src/Context/UnreadChats.tsx
  Frontend/LostAndFoundMobile/src/Context/contextTypes.ts
  Frontend/LostAndFoundMobile/src/Context/index.ts
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/yarn.lock
  Frontend/commons/lib/services/chatService/requests/get-unread-notifications.request.d.ts
  Frontend/commons/lib/services/chatService/requests/get-unread-notifications.request.js
  Frontend/commons/src/services/chatService/requests/get-unread-notifications.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Package update
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

feat: Add pagination on mobile app
  Frontend/LostAndFoundMobile/src/Components/PageSelector.tsx
  Frontend/LostAndFoundMobile/src/Components/index.ts
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/commons/lib/services/profileService/requests/get-profile-comments.request.d.ts
  Frontend/commons/lib/services/profileService/requests/get-profile-comments.request.js
  Frontend/commons/src/services/profileService/requests/get-profile-comments.request.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

feat: Add data validation with SnackBar
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update azurite settings
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
Due: none

feat: added details post view and other fixes
  Frontend/commons/lib/AppSettings.js
  Frontend/commons/lib/services/publicationService/requests/get-publications-undef.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/get-publications-undef.request.js
  Frontend/commons/src/services/publicationService/requests/get-publications-undef.request.ts
  Frontend/lostandfound.web/.env.production
  Frontend/lostandfound.web/public/index.html
  Frontend/lostandfound.web/src/components/chat/chat.tsx
  Frontend/lostandfound.web/src/components/chat/chats.tsx
  Frontend/lostandfound.web/src/components/navbar.tsx
  Frontend/lostandfound.web/src/components/pagination.tsx
  Frontend/lostandfound.web/src/components/profile/profile.tsx
  Frontend/lostandfound.web/src/components/profile/profileComments.tsx
  Frontend/lostandfound.web/src/components/publications/editPublication.tsx
  Frontend/lostandfound.web/src/components/publications/myPublications.tsx
  Frontend/lostandfound.web/src/components/publications/newPublication.tsx
  Frontend/lostandfound.web/src/components/publications/publicationDetails.tsx
  Frontend/lostandfound.web/src/components/publications/publicationsList.tsx
  Frontend/lostandfound.web/src/index.tsx
  Frontend/lostandfound.web/src/main.scss
  Frontend/lostandfound.web/src/routes/main.tsx
Due: none
