Repository KStrzechowski/Bachelor-thesis-LostAndFound: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Backend/build-with-tests-gateway-pipeline.yml, Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Pipelines/Backend/build-with-tests-gateway-pipeline.yml:

name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-GatewayWebApiBuildWithTests

pool: Default

trigger:
  paths:
    include:
    - Backend/Gateway/*

stages:
  - template: Templates/build-with-tests-webapi-template.yml
    parameters:
      webapiProjectDirectory: Backend/Gateway/src/LostAndFound.Gateway
      unitTestProjectDirectory: Backend/Gateway/tests/LostAndFound.Gateway.UnitTests
      runUnitTests: true
      integrationTestProjectDirectory: Backend/Gateway/tests/LostAndFound.Gateway.IntegrationTests
      runIntegrationTests: true
      artifactName: LostAndFound.Gateway

Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml:

name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-FrontendMobileBuild

pool: Default

trigger:
  paths:
    include:
    - Frontend/LostAndFoundMobile/*

stages:
  - template: Templates/build-react-native-app-template.yml
    parameters:
      mobileProjectDirectory: Frontend/LostAndFoundMobile
      nodeVersion: 16.x
      artifactName: lostandfound.mobile

feat: Create README.md
  Frontend/LostAndFoundMobile/README.md
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Add reference to Mobile App REAMDE.md
  README.md
Due: none

Feat: Add pictureUrl field to authorDataResponseDto
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/MappingProfiles/ProfileCommentEntityMappingProfile.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/ProfileCommentService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Responses/AuthorDataResponseDto.cs
Due: none

Feat: Add mongodb categories collection seeder
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/DatabaseSeeder/Interfaces/IDbSeeder.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/DatabaseSeeder/MongoDbSeeder.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/LostAndFound.PublicationService.DataAccess.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/PublicationServiceDataAccessRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
Due: none

Feat: Skip health check test
  Backend/Gateway/tests/LostAndFound.Gateway.IntegrationTests/HealthCheckTests.cs
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Fix: Ignore Publication Health check instead of gateway
  Backend/Gateway/tests/LostAndFound.Gateway.IntegrationTests/HealthCheckTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/HealthCheckTests.cs
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Restore caching on categories endpoint
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/CategoriesController.cs
Due: none

Feat: Create publication logic
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/UserProfileService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/CreatePublicationRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationStateEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationTypeEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/Interfaces/IPublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Requests/CreatePublicationRequestDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Requests/UpdatePublicationDetailsRequestDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Responses/PublicationDetailsResponseDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/Publication.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/CategoriesRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/ICategoriesRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/IPublicationsRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/PublicationsRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/HealthCheckTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/CreatePublicationRequestDtoValidatorTests.cs
Due: none

Feat: Finish publication controller implementation
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/Interfaces/IPublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Internal/PaginationMetadata.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Internal/ResourceUriType.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
Due: none

Fix: Publication service errors
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidator.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/CreatePublicationRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
Due: none

Feat: Disable geocodingservice
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/CategoriesRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/PublicationServiceThirdPartyServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
Due: none

Feat: Publication votes
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/Interfaces/IPublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/IPublicationsRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/PublicationsRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/PublicationServiceThirdPartyServicesRegistrationTests.cs
Due: none

Feat: Vote mapping profile
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/VoteEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/LostAndFound.PublicationService.DataAccess.csproj
Due: none

Feat: Get list of publications
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/Interfaces/IPublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/ResourceParameters/PublicationsResourceParameters.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/IPublicationsRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/PublicationsRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/PublicationStateEntityMappingProfileTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/PublicationTypeEntityMappingProfileTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/VoteEntityMappingProfileTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/PublicationServiceDataAccessRegistrationTests.cs
Due: none

Fix: After testing endpoint behaviours
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/IPublicationsRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/PublicationsRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
Due: none

Feat: Restore geocoding api
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/PublicationServiceThirdPartyServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/PublicationServiceThirdPartyServicesRegistrationTests.cs
Due: none

Test: Check test pipeline
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/ResourceParameters/PublicationsResourceParameters.cs
Due: none

Test: Add geocoding service registration
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
Due: none

Test: Skip integration tests for now
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/HealthCheckTests.cs
Due: none

Feat: Remove JsonModelBinder from post publication endpoint
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/Interfaces/IPublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/LostAndFound.PublicationService.CoreLibrary.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Requests/CreatePublicationRequestDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/LostAndFound.PublicationService.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
Due: none

Fix: Correct filter expressions
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/ResourceParameters/PublicationsResourceParameters.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
Due: none

Test: Mapping profiles unit tests
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/CreatePublicationRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/CategoryEntityMappingProfileTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/PublicationStateEntityMappingProfileTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/PublicationTypeEntityMappingProfileTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/VoteEntityMappingProfileTests.cs
Due: none

Feat: Initial setup of chat service
  Backend/ChatService/src/LostAndFound.ChatService.Core/ChatServices/ChatActionService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/ChatServices/Interfaces/IChatActionService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/CoreServicesRegistration.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/FluentValidators/CreateMessageRequestDtoValidator.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/FluentValidators/FluentValidatorsRegistration.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/LostAndFound.ChatService.Core.csproj
  Backend/ChatService/src/LostAndFound.ChatService.Core/MessageServices/Interfaces/IMessageService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/MessageServices/MessageService.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Exceptions/BadRequestException.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Exceptions/NotFoundException.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Exceptions/UnauthorizedException.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Internal/PaginationMetadata.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Internal/ResourceUriType.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Requests/CreateMessageRequestDto.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Responses/ChatBaseDataResponseDto.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Responses/MessageResponseDto.cs
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/ChatController.cs
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/MessageController.cs
  Backend/ChatService/src/LostAndFound.ChatService/Middleware/ErrorHandlingMiddleware.cs
  Backend/ChatService/src/LostAndFound.ChatService/Program.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/Middleware/ErrorHandlingMiddlewareTests.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
Due: none

Feat: Specify initial endpoints for chat service
  Backend/ChatService/src/LostAndFound.ChatService.Core/ChatServices/ChatActionService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/ChatServices/Interfaces/IChatActionService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/Extensions/GuidExtensions.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/FluentValidators/CreateMessageRequestDtoValidator.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/Hubs/ChatHub.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/LostAndFound.ChatService.Core.csproj
  Backend/ChatService/src/LostAndFound.ChatService.Core/MappingProfiles/ChatEntityMappingProfile.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/MappingProfiles/MessageEntityMappingProfile.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/MessageServices/Interfaces/IMessageService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/MessageServices/MessageService.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Requests/CreateMessageRequestDto.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/ResourceParameters/ChatsResourceParameters.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/ResourceParameters/MessagesResourceParameters.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Responses/ChatBaseDataResponseDto.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Responses/ChatMemberBaseDataResponseDto.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Responses/MessageResponseDto.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/ChatServiceDataAccessRegistration.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Entities/Chat.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Entities/Member.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Entities/Message.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Repositories/ChatsRepository.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Repositories/Interfaces/IChatsRepository.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Repositories/Interfaces/IMessagesRepository.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Repositories/MessagesRepository.cs
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/ChatController.cs
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/MessageController.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/Core/FluentValidators/CreateMessageRequestDtoValidatorTests.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/Core/MappingProfiles/ChatEntityMappingProfileTests.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/Core/MappingProfiles/MessageEntityMappingProfileTests.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/ServiceRegistrations/ChatServiceDataAccessRegistrationTests.cs
  Backend/Gateway/src/LostAndFound.Gateway/ocelot.json
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Add PositionStack Service instead of GoogleGeocoder
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/GeocodingServices/GoogleGeocoderService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/GeocodingServices/PositionStackService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/LostAndFound.PublicationService.ThirdPartyServices.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Models/AddressDataDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Models/GeocodedAddressesResponseDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/PublicationServiceThirdPartyServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Settings/GoogleGeocoderSettings.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Settings/PositionStackServiceSettings.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.json
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/PublicationServiceThirdPartyServicesRegistrationTests.cs
Due: none

Feat: Adding note about Position Stack Api to readme
  Backend/README.md
Due: none

Feat: Create types
  Frontend/commons/src/Services/authorizationService/LoginTypes.ts
  Frontend/commons/src/Services/authorizationService/RegisterTypes.ts
  Frontend/commons/src/Services/authorizationService/index.ts
  Frontend/commons/src/Services/profileService/index.ts
  Frontend/commons/src/Services/profileService/profileCommentTypes.ts
  Frontend/commons/src/Services/profileService/profileTypes.ts
  Frontend/commons/src/Services/publicationService/index.ts
  Frontend/commons/src/Services/publicationService/publicationTypes.ts
Due: none

Feat!: Add requests to communicate with backend
  Frontend/commons/src/AppSettings.ts
  Frontend/commons/src/Services/AuthorizationService/requests/login.request.ts
  Frontend/commons/src/Services/AuthorizationService/requests/logout.request.ts
  Frontend/commons/src/Services/AuthorizationService/requests/refresh-token.request.ts
  Frontend/commons/src/Services/AuthorizationService/requests/register.request.ts
  Frontend/commons/src/Services/ProfileService/requests/add-profile-comment.request.ts
  Frontend/commons/src/Services/ProfileService/requests/delete-profile-comment.request.ts
  Frontend/commons/src/Services/ProfileService/requests/delete-profile-picture.request.ts
  Frontend/commons/src/Services/ProfileService/requests/edit-profile-comment.request.ts
  Frontend/commons/src/Services/ProfileService/requests/edit-profile-picture.request.ts
  Frontend/commons/src/Services/ProfileService/requests/edit-profile.request.ts
  Frontend/commons/src/Services/ProfileService/requests/get-profile-comments.request.ts
  Frontend/commons/src/Services/ProfileService/requests/get-profile-details.request.ts
  Frontend/commons/src/Services/ProfileService/requests/get-profile.request.ts
  Frontend/commons/src/Services/PublicationService/requests/add-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/delete-publication-photo.request.ts
  Frontend/commons/src/Services/PublicationService/requests/delete-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-photo.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-rating.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-state.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-categories.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-publications.request.ts
  Frontend/commons/src/Services/authorizationService/LoginTypes.ts
  Frontend/commons/src/Services/authorizationService/index.ts
  Frontend/commons/src/Services/profileService/index.ts
  Frontend/commons/src/Services/profileService/profileCommentTypes.ts
  Frontend/commons/src/Services/profileService/profileTypes.ts
  Frontend/commons/src/Services/publicationService/index.ts
  Frontend/commons/src/Services/publicationService/publicationTypes.ts
  Frontend/commons/src/http.ts
  Frontend/commons/src/index.ts
Due: none

Feat: Add Longitude and Latitude collection filter
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/LostAndFound.PublicationService.Core.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/ResourceParameters/PublicationsResourceParameters.cs
Due: none

Refactor: Small refactor of resource params
  Backend/ChatService/src/LostAndFound.ChatService.Core/ChatServices/ChatActionService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/MessageServices/Interfaces/IMessageService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/MessageServices/MessageService.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/ResourceParameters/MessagesResourceParameters.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Responses/ChatMemberBaseDataResponseDto.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Entities/Member.cs
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/ChatController.cs
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/MessageController.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/Interfaces/IProfileCommentService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/ProfileCommentService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/ResourceParameters/ProfileCommentsResourceParameters.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Controllers/ProfileCommentsController.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/ResourceParameters/PublicationsResourceParameters.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
Due: none

Test: Fix failing test from chat service
  Backend/ChatService/src/LostAndFound.ChatService.Core/MappingProfiles/ChatEntityMappingProfile.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/MappingProfiles/MessageEntityMappingProfile.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/Core/MappingProfiles/MessageEntityMappingProfileTests.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
Due: none

Feat: Add chat notification endpoint
  Backend/ChatService/src/LostAndFound.ChatService.Core/ChatServices/ChatActionService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/ChatServices/Interfaces/IChatActionService.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Responses/ChatNotificationResponseDto.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Repositories/ChatsRepository.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Repositories/Interfaces/IChatsRepository.cs
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/ChatController.cs
Due: none

fix: Add authorization header to requests
  Frontend/commons/src/Services/ProfileService/requests/add-profile-comment.request.ts
  Frontend/commons/src/Services/ProfileService/requests/delete-profile-comment.request.ts
  Frontend/commons/src/Services/ProfileService/requests/delete-profile-picture.request.ts
  Frontend/commons/src/Services/ProfileService/requests/edit-profile-comment.request.ts
  Frontend/commons/src/Services/ProfileService/requests/edit-profile-picture.request.ts
  Frontend/commons/src/Services/ProfileService/requests/edit-profile.request.ts
  Frontend/commons/src/Services/ProfileService/requests/get-profile-comments.request.ts
  Frontend/commons/src/Services/ProfileService/requests/get-profile-details.request.ts
  Frontend/commons/src/Services/ProfileService/requests/get-profile.request.ts
  Frontend/commons/src/Services/PublicationService/requests/add-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/delete-publication-photo.request.ts
  Frontend/commons/src/Services/PublicationService/requests/delete-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-photo.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-rating.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-state.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-categories.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-publications.request.ts
  Frontend/commons/src/http.ts
  Frontend/commons/src/index.ts
Due: none

Feat: Add chat endpoints to gateway
  Backend/ChatService/src/LostAndFound.ChatService.Core/ChatServices/ChatActionService.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/MessageServices/MessageService.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/LostAndFound.ChatService.DataAccess.csproj
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Repositories/ChatsRepository.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Repositories/Interfaces/IChatsRepository.cs
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/MessageController.cs
  Backend/Gateway/src/LostAndFound.Gateway/ocelot.json
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Configure hubs authorization
  Backend/ChatService/src/LostAndFound.ChatService/Program.cs
Due: none

Feat: Chat hub implementation
  Backend/ChatService/src/LostAndFound.ChatService.Core/Hubs/ChatHub.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/LostAndFound.ChatService.Core.csproj
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/MessageController.cs
  Backend/ChatService/src/LostAndFound.ChatService/Hubs/ChatHub.cs
  Backend/ChatService/src/LostAndFound.ChatService/Program.cs
Due: none

feat: Update mobile app
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/Config.ts
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/src/Navigation/HomeStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/SecureStorage/Authorization.ts
  Frontend/LostAndFoundMobile/src/SecureStorage/index.ts
  Frontend/LostAndFoundMobile/yarn.lock
  Frontend/commons/lib/Services/AuthorizationService/loginTypes.d.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Specify wss in ocelot config
  Backend/Gateway/src/LostAndFound.Gateway/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/ocelot.json
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Finish authorization
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/Config.ts
  Frontend/LostAndFoundMobile/src/Navigation/AuthStack.tsx
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Navigation/HomeStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/RegistrationPage.tsx
  Frontend/commons/lib/AppSettings.js
  Frontend/commons/src/AppSettings.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml
