Repository KStrzechowski/Bachelor-thesis-LostAndFound: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Backend/build-with-tests-gateway-pipeline.yml, Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Pipelines/Backend/build-with-tests-gateway-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-GatewayWebApiBuildWithTests
  pool: Default
  stages:
  - template: Templates/build-with-tests-webapi-template.yml
    parameters:
      webapiProjectDirectory: Backend/Gateway/src/LostAndFound.Gateway
  ...

Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-FrontendMobileBuild
  pool: Default
  stages:
  - template: Templates/build-react-native-app-template.yml
    parameters:
      mobileProjectDirectory: Frontend/LostAndFoundMobile
      nodeVersion: 16.x
      artifactName: lostandfound.mobile

Fix: Change template parameter name
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml
Due: none

feat: adding module library for shared code
  Frontend/commons/lib/index.d.ts
  Frontend/commons/lib/index.js
  Frontend/commons/lib/testType.d.ts
  Frontend/commons/lib/testType.js
  Frontend/commons/package-lock.json
  Frontend/commons/package.json
  Frontend/commons/readme.md
  Frontend/commons/src/index.ts
  Frontend/commons/src/testType.ts
  Frontend/commons/styles/common.scss
  Frontend/commons/tsconfig.json
  Frontend/lostandfound.web/package-lock.json
  Frontend/lostandfound.web/package.json
  Frontend/lostandfound.web/src/App.css
  Frontend/lostandfound.web/src/App.tsx
  Frontend/lostandfound.web/src/main.scss
  Frontend/lostandfound.web/tsconfig.json
Due: none

fix: failing test
  Frontend/lostandfound.web/src/App.test.tsx
Due: none

Feat: Create base ThirdPartyService projects
  Backend/AuthService/src/LostAndFound.AuthService.DataAccess/AuthServiceDataAccessRegistration.cs
  Backend/AuthService/src/LostAndFound.AuthService.DataAccess/Settings/AuthServiceDatabaseSettings.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/LostAndFound.ChatService.Core.csproj
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/ChatServiceDataAccessRegistration.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Settings/ChatServiceDatabaseSettings.cs
  Backend/ChatService/src/LostAndFound.ChatService/LostAndFound.ChatService.csproj
  Backend/LostAndFound.sln
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/MappingProfiles/ProfileEntityMappingProfile.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.DataAccess/Entities/Profile.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.DataAccess/ProfileServiceDataAccessRegistration.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/AzureServices/Interfaces/IFileStorageService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/LostAndFound.ProfileService.ThirdPartyServices.csproj
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/ProfileServiceThirdPartyServicesRegistration.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/Settings/BlobStorageSettings.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Program.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/CoreServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/DateTimeProviders/DateTimeProvider.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/DateTimeProviders/IDateTimeProvider.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/FluentValidatorsRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/LostAndFound.PublicationService.Core.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Exceptions/BadRequestException.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Exceptions/NotFoundException.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Exceptions/UnauthorizedException.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/Publication.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/PublicationServiceDataAccessRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Settings/PublicationServiceDatabaseSettings.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/AzureServices/Interfaces/IFileStorageService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/LostAndFound.PublicationService.ThirdPartyServices.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/PublicationServiceThirdPartyServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Settings/BlobStorageSettings.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/LostAndFound.PublicationService.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService/Middleware/ErrorHandlingMiddleware.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
Due: none

Fix: Change settingName in profileService database
  Backend/ProfileService/src/LostAndFound.ProfileService.DataAccess/Settings/ProfileServiceDatabaseSettings.cs
Due: none

Test: Unit testing service registration in new projects
  Backend/ChatService/src/LostAndFound.ChatService.Core/CoreServicesRegistration.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/DateTimeProviders/DateTimeProvider.cs
  Backend/ChatService/src/LostAndFound.ChatService.Core/DateTimeProviders/IDateTimeProvider.cs
  Backend/ChatService/src/LostAndFound.ChatService/Program.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/Core/DateTimeProviders/DateTimeProviderTests.cs
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
  Backend/ProfileService/tests/LostAndFound.ProfileService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
  Backend/ProfileService/tests/LostAndFound.ProfileService.UnitTests/ServiceRegistrations/ProfileServiceThirdPartyServicesRegistrationTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/DateTimeProviders/DateTimeProviderTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Middleware/ErrorHandlingMiddlewareTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
Due: none

Packages: Update configuration
  Frontend/LostAndFoundMobile/android/app/src/main/java/com/lostandfoundmobile/MainActivity.java
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add basic page components
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/SearchPostsPage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat!: Implement connection with AzureBlob and add enpoints for updating and deleting profile picture
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/MappingProfiles/ProfileEntityMappingProfile.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/Interfaces/IUserProfileService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.Core/UserProfileServices/UserProfileService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Responses/ProfileDetailsResponseDto.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.DataAccess/Repositories/Interfaces/IProfilesRepository.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.DataAccess/Repositories/ProfilesRepository.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/AzureServices/Interfaces/IFileStorageService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/Extensions/StringExtensions.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/Models/FileDto.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/Settings/BlobStorageSettings.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Controllers/ProfileController.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.json
  Backend/ProfileService/tests/LostAndFound.ProfileService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/AzureServices/Interfaces/IFileStorageService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Extensions/StringExtensions.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Models/FileDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Settings/BlobStorageSettings.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.json
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/PublicationServiceThirdPartyServicesRegistrationTests.cs
Due: none

Packages: Update packages
  Frontend/LostAndFoundMobile/.eslintignore
  Frontend/LostAndFoundMobile/.eslintrc.js
  Frontend/LostAndFoundMobile/.prettierrc.js
  Frontend/LostAndFoundMobile/android/app/build.gradle
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add interfaces and update pages
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Components/index.ts
  Frontend/LostAndFoundMobile/src/Data/AuthAccount.tsx
  Frontend/LostAndFoundMobile/src/Data/Chat.tsx
  Frontend/LostAndFoundMobile/src/Data/Post.tsx
  Frontend/LostAndFoundMobile/src/Data/Profile.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/index.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add GeocodingService
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/GeocodingServices/GoogleGeocoderService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/GeocodingServices/Interfaces/IGeocodingService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Models/AddressDataDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/PublicationServiceThirdPartyServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/Settings/GoogleGeocoderSettings.cs
Due: none

Feat: Declare initial endpoints and dtos in the profile controller
  Backend/ProfileService/src/LostAndFound.ProfileService/Controllers/ProfileController.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/CoreServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/CreatePublicationRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/FluentValidatorsRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationRatingRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationStateRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/LostAndFound.PublicationService.Core.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/Interfaces/IPublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Enums/PublicationState.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Enums/PublicationType.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Enums/SinglePublicationVote.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/LostAndFound.PublicationService.CoreLibrary.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Requests/CreatePublicationRequestDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Requests/UpdatePublicationDetailsRequestDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Requests/UpdatePublicationRatingRequestDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Requests/UpdatePublicationStateRequestDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/ResourceParameters/PublicationsResourceParameters.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Responses/PublicationBaseDataResponseDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Responses/PublicationDetailsResponseDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Responses/UserDataResponseDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/Publication.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/PublicationEnums/State.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/PublicationEnums/Type.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.ThirdPartyServices/LostAndFound.PublicationService.ThirdPartyServices.csproj
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/LostAndFound.PublicationService.csproj
Due: none

Test: Add unit tests for some publication service logic
  Backend/ProfileService/tests/LostAndFound.ProfileService.UnitTests/ThirdPartyServices/Extensions/StringExtensionsTests.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/PublicationServiceThirdPartyServicesRegistrationTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ThirdPartyServices/Extensions/StringExtensionsTests.cs
Due: none

Feat: Implement Fluent validators for publication dtos
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/CreatePublicationRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationRatingRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationStateRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/Author.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/Category.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/Publication.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/CreatePublicationRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/UpdatePublicationRatingRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/UpdatePublicationStateRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/PublicationEntityMappingProfileTests.cs
Due: none

Test: Update fluent validator registration test
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
Due: none

Feat: Add gradle build task to pipeline
  Pipelines/Frontend/Templates/build-react-native-app-template.yml
Due: none

Fix: Change pipeline pool to ubuntu-latest
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml
Due: none

Fix: Remove drawable-mdpi directory
  Frontend/LostAndFoundMobile/android/app/src/main/res/drawable-mdpi/node_modules_reactnative_libraries_newappscreen_components_logo.png
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add next steps to react-native pipeline
  Pipelines/Frontend/Templates/build-react-native-app-template.yml
Due: none

Feat: Add android signing2 task to pipeline
  Pipelines/Frontend/Templates/build-react-native-app-template.yml
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml
Due: none

Feat: Publish mobile build artifact
  Pipelines/Frontend/Templates/build-react-native-app-template.yml
Due: none

feat: added login, register and basic profile view
  Frontend/commons/lib/authService.d.ts
  Frontend/commons/lib/authService.js
  Frontend/commons/lib/index.d.ts
  Frontend/commons/lib/index.js
  Frontend/commons/lib/types/apiLogin.d.ts
  Frontend/commons/lib/types/apiLogin.js
  Frontend/commons/lib/types/apiRegister.d.ts
  Frontend/commons/lib/types/apiRegister.js
  Frontend/commons/src/authService.ts
  Frontend/commons/src/index.ts
  Frontend/commons/src/types/apiLogin.ts
  Frontend/commons/src/types/apiRegister.ts
  Frontend/commons/styles/common.scss
  Frontend/lostandfound.web/package-lock.json
  Frontend/lostandfound.web/package.json
  Frontend/lostandfound.web/public/index.html
  Frontend/lostandfound.web/src/App.tsx
  Frontend/lostandfound.web/src/components/landing.tsx
  Frontend/lostandfound.web/src/components/login.tsx
  Frontend/lostandfound.web/src/components/navbar.tsx
  Frontend/lostandfound.web/src/components/profile.tsx
  Frontend/lostandfound.web/src/components/register.tsx
  Frontend/lostandfound.web/src/index.css
  Frontend/lostandfound.web/src/index.tsx
  Frontend/lostandfound.web/src/logo.png
  Frontend/lostandfound.web/src/main.scss
  Frontend/lostandfound.web/src/routes/main.tsx
  Frontend/lostandfound.web/src/routes/root.tsx
  Frontend/lostandfound.web/src/types/profile.ts
  Frontend/lostandfound.web/src/userContext.ts
Due: none

Feat: Initial gateway configuration
  Backend/AuthService/src/LostAndFound.AuthService/Properties/launchSettings.json
  Backend/ChatService/src/LostAndFound.ChatService/Properties/launchSettings.json
  Backend/Gateway/src/LostAndFound.Gateway.CoreLibrary/LostAndFound.Gateway.CoreLibrary.csproj
  Backend/Gateway/src/LostAndFound.Gateway.CoreLibrary/Settings/AuthenticationSettings.cs
  Backend/Gateway/src/LostAndFound.Gateway/LostAndFound.Gateway.csproj
  Backend/Gateway/src/LostAndFound.Gateway/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/Properties/launchSettings.json
  Backend/Gateway/src/LostAndFound.Gateway/ocelot.json
  Backend/LostAndFound.sln
  Backend/ProfileService/src/LostAndFound.ProfileService/Properties/launchSettings.json
  Backend/PublicationService/src/LostAndFound.PublicationService/Properties/launchSettings.json
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat: Finalize initial gateway configuration using ocelot
  Backend/AuthService/src/LostAndFound.AuthService/Properties/launchSettings.json
  Backend/ChatService/src/LostAndFound.ChatService/Properties/launchSettings.json
  Backend/Gateway/src/LostAndFound.Gateway/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/ocelot.json
  Backend/ProfileService/src/LostAndFound.ProfileService/Properties/launchSettings.json
  Backend/PublicationService/src/LostAndFound.PublicationService/Properties/launchSettings.json
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/Properties/launchSettings.json
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Refactor: Correct swagger urls
  Backend/AuthService/src/LostAndFound.AuthService/Program.cs
  Backend/ChatService/src/LostAndFound.ChatService/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/ocelot.json
  Backend/ProfileService/src/LostAndFound.ProfileService/Program.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Fix: Change port in profile services downstrem host
  Backend/Gateway/src/LostAndFound.Gateway/ocelot.json
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Feat!: Implement categories endpoint in publication service
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/CategoryServices/CategoryService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/CategoryServices/Interfaces/ICategoryService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/CoreServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/CategoryEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Responses/CategoryResponseDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/Category.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/Publication.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/PublicationServiceDataAccessRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/CategoriesRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/ICategoriesRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/CategoriesController.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/CategoryEntityMappingProfileTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/PublicationServiceDataAccessRegistrationTests.cs
Due: none

Feat: Add publication endpoints to ocelot configuration file
  Backend/Gateway/src/LostAndFound.Gateway/ocelot.json
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Packages: Update packages
  Frontend/LostAndFoundMobile/babel.config.js
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Update views and navigation
  Frontend/LostAndFoundMobile/App.tsx
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Components/index.ts
  Frontend/LostAndFoundMobile/src/Data/Chat.tsx
  Frontend/LostAndFoundMobile/src/Data/Profile.tsx
  Frontend/LostAndFoundMobile/src/Images/index.ts
  Frontend/LostAndFoundMobile/src/Images/logo.png
  Frontend/LostAndFoundMobile/src/Navigation/AuthStack.tsx
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Navigation/HomeStack.tsx
  Frontend/LostAndFoundMobile/src/Navigation/index.ts
  Frontend/LostAndFoundMobile/src/Pages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/SearchPostsPage.tsx
  Frontend/commons/images/index.ts
  Frontend/commons/images/logo.png
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: And condition to build react-native pipeline
  Pipelines/Frontend/Templates/build-and-publish-react-native-app-template.yml
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml
Due: none

Fix: Change branch condition from main to develop
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml
Due: none

Feat: Create initial readme for backend and batch file to run solution
  Backend/AuthService/src/LostAndFound.AuthService.Core/LostAndFound.AuthService.Core.csproj
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Development.json
  Backend/README.md
  Backend/dotnet-lostandfound.bat
  Backend/dotnet-lostandfound.sh
  README.md
Due: none

Feat: Add guide how to connect to mongoDb
  Backend/README.md
Due: none

Feat: Temporary communication between Auth and Profile services
  Backend/AuthService/src/LostAndFound.AuthService.Core/AccountServices/AccountService.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/CoreServicesRegistration.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/HttpClients/Interfaces/IProfileHttpClient.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/HttpClients/ProfileHttpClient.cs
  Backend/AuthService/src/LostAndFound.AuthService.Core/LostAndFound.AuthService.Core.csproj
  Backend/AuthService/src/LostAndFound.AuthService.CoreLibrary/Responses/RegisteredUserAccountResponseDto.cs
  Backend/AuthService/src/LostAndFound.AuthService/Program.cs
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.json
  Backend/AuthService/tests/LostAndFound.AuthService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
  Backend/README.md
Due: none

Feat: Update app settings of all services
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.json
  Backend/ChatService/src/LostAndFound.ChatService/appsettings.Development.json
  Backend/ProfileService/src/LostAndFound.ProfileService.ThirdPartyServices/AzureServices/BlobStorageService.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
Due: none

Feat: Describe File Storage configuration in readme file
  Backend/README.md
Due: none

Fix: Correct readme file formatting
  Backend/README.md
Due: none

Path conditions:
  Pipelines/Backend/build-with-tests-gateway-pipeline.yml: any of: Backend/Gateway
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml: any of: Frontend/LostAndFoundMobile
