Repository KStrzechowski/Bachelor-thesis-LostAndFound: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Backend/build-with-tests-gateway-pipeline.yml, Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Pipelines/Backend/build-with-tests-gateway-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-GatewayWebApiBuildWithTests
  pool: Default
  stages:
  - template: Templates/build-with-tests-webapi-template.yml
    parameters:
      webapiProjectDirectory: Backend/Gateway/src/LostAndFound.Gateway
  ...

Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)_$(SourceBranchName)-$(BuildId)-FrontendMobileBuild
  pool: Default
  stages:
  - template: Templates/build-react-native-app-template.yml
    parameters:
      mobileProjectDirectory: Frontend/LostAndFoundMobile
      nodeVersion: 16.x
      artifactName: lostandfound.mobile

feat: Update connecting mobile app to backend
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Navigation/HomeStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/src/Pages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/index.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Test: Guid Unit Test
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/Core/Extensions/GuidExtensionsTests.cs
Due: none

Test: Add publication integrationtest webapplication factory
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/HealthCheckTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/IntegratioTestWebApplicationFactory.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/LostAndFound.PublicationService.IntegrationTests.csproj
Due: none

Fix: Initialization process in integration tests
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/IntegratioTestWebApplicationFactory.cs
Due: none

fix: Update commons library
  Frontend/commons/lib/Services/AuthorizationService/loginTypes.d.ts
  Frontend/commons/lib/Services/ProfileService/profileCommentTypes.d.ts
  Frontend/commons/lib/Services/ProfileService/profileCommentTypes.js
  Frontend/commons/lib/Services/ProfileService/profileTypes.d.ts
  Frontend/commons/lib/Services/ProfileService/requests/edit-profile.request.js
  Frontend/commons/lib/Services/PublicationService/publicationTypes.d.ts
  Frontend/commons/lib/Services/PublicationService/publicationTypes.js
  Frontend/commons/lib/Services/PublicationService/requests/add-publication.request.js
  Frontend/commons/lib/Services/PublicationService/requests/get-categories.request.d.ts
  Frontend/commons/lib/Services/PublicationService/requests/get-categories.request.js
  Frontend/commons/lib/http.d.ts
  Frontend/commons/lib/http.js
  Frontend/commons/src/Services/ProfileService/requests/edit-profile.request.ts
  Frontend/commons/src/Services/PublicationService/requests/add-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-categories.request.ts
  Frontend/commons/src/Services/profileService/profileCommentTypes.ts
  Frontend/commons/src/Services/profileService/profileTypes.ts
  Frontend/commons/src/Services/publicationService/publicationTypes.ts
  Frontend/commons/src/http.ts
Due: none

feat: Add fetch with multipart/form-data
  Frontend/commons/lib/Services/PublicationService/publicationTypes.d.ts
  Frontend/commons/lib/Services/PublicationService/requests/add-publication.request.js
  Frontend/commons/lib/http.d.ts
  Frontend/commons/lib/http.js
  Frontend/commons/src/Services/PublicationService/requests/add-publication.request.ts
  Frontend/commons/src/Services/publicationService/publicationTypes.ts
  Frontend/commons/src/http.ts
Due: none

Feat: Add custom web application factories to all services
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/HealthCheckTests.cs
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/IntegratioTestWebApplicationFactory.cs
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/LostAndFound.AuthService.IntegrationTests.csproj
  Backend/ChatService/tests/LostAndFound.ChatService.IntegrationTests/HealthCheckTests.cs
  Backend/ChatService/tests/LostAndFound.ChatService.IntegrationTests/IntegratioTestWebApplicationFactory.cs
  Backend/ChatService/tests/LostAndFound.ChatService.IntegrationTests/LostAndFound.ChatService.IntegrationTests.csproj
  Backend/Gateway/tests/LostAndFound.Gateway.UnitTests/LostAndFound.Gateway.UnitTests.csproj
  Backend/LostAndFound.sln
  Backend/ProfileService/tests/LostAndFound.ProfileService.IntegrationTests/HealthCheckTests.cs
  Backend/ProfileService/tests/LostAndFound.ProfileService.IntegrationTests/IntegratioTestWebApplicationFactory.cs
  Backend/ProfileService/tests/LostAndFound.ProfileService.IntegrationTests/LostAndFound.ProfileService.IntegrationTests.csproj
  Pipelines/Backend/build-with-tests-gateway-pipeline.yml
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

fix: Update fetch
  Frontend/commons/lib/http.js
Due: none

fix: Remove test types
  Frontend/commons/lib/http.js
  Frontend/commons/lib/index.d.ts
  Frontend/commons/lib/index.js
  Frontend/commons/src/authService.ts
  Frontend/commons/src/index.ts
  Frontend/commons/src/testType.ts
  Frontend/commons/src/types/apiLogin.ts
  Frontend/commons/src/types/apiRegister.ts
Due: none

Feat: Update connecting mobile app to backend
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Navigation/HomeStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/index.ts
  Frontend/LostAndFoundMobile/src/SecureStorage/Authorization.ts
  Frontend/LostAndFoundMobile/yarn.lock
  Frontend/commons/lib/Services/PublicationService/publicationTypes.d.ts
  Frontend/commons/lib/Services/PublicationService/publicationTypes.js
  Frontend/commons/lib/Services/PublicationService/requests/delete-publication-photo.request.js
  Frontend/commons/lib/Services/PublicationService/requests/delete-publication.request.js
  Frontend/commons/lib/Services/PublicationService/requests/edit-publication-photo.request.js
  Frontend/commons/lib/Services/PublicationService/requests/edit-publication-rating.request.js
  Frontend/commons/lib/Services/PublicationService/requests/edit-publication-state.request.js
  Frontend/commons/src/Services/PublicationService/requests/delete-publication-photo.request.ts
  Frontend/commons/src/Services/PublicationService/requests/delete-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-photo.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-rating.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-state.request.ts
  Frontend/commons/src/Services/publicationService/publicationTypes.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Test: Integration auth tests
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/AuthenticationTests.cs
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/LostAndFound.AuthService.IntegrationTests.csproj
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/Models/Requests/ExpectedLoginRequestDto.cs
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/Models/Requests/ExpectedRegisterUserAccountRequestDto.cs
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/Models/Requests/ExpectredRefreshRequestDto.cs
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/Models/Responses/ExpectedAuthenticatedUserResponseDto.cs
  Backend/AuthService/tests/LostAndFound.AuthService.IntegrationTests/Models/Responses/ExpectedRegisteredUserAccountResponseDto.cs
  Backend/ChatService/src/LostAndFound.ChatService/Controllers/MessageController.cs
  Backend/ChatService/tests/LostAndFound.ChatService.IntegrationTests/AuthenticationTests.cs
  Backend/ChatService/tests/LostAndFound.ChatService.IntegrationTests/LostAndFound.ChatService.IntegrationTests.csproj
  Backend/ProfileService/tests/LostAndFound.ProfileService.IntegrationTests/AuthenticationTests.cs
  Backend/ProfileService/tests/LostAndFound.ProfileService.IntegrationTests/LostAndFound.ProfileService.IntegrationTests.csproj
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/AuthenticationTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/Controllers/CategoriesControllerTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/LostAndFound.PublicationService.IntegrationTests.csproj
  Backend/PublicationService/tests/LostAndFound.PublicationService.IntegrationTests/Models/Responses/ExpectedCategoryResponseDto.cs
Due: none

Feat: add e2e tests
  Frontend/4.add-post.test.js
  Frontend/LostAndFoundMobile/.detoxrc.js
  Frontend/LostAndFoundMobile/__tests__/App-test.tsx
  Frontend/LostAndFoundMobile/android/app/build.gradle
  Frontend/LostAndFoundMobile/android/app/src/androidTest/java/com/lostandfoundmobile/DetoxTest.java
  Frontend/LostAndFoundMobile/android/app/src/main/AndroidManifest.xml
  Frontend/LostAndFoundMobile/android/app/src/main/res/xml/network_security_config.xml
  Frontend/LostAndFoundMobile/android/build.gradle
  Frontend/LostAndFoundMobile/android/my-logs.txt
  Frontend/LostAndFoundMobile/e2e/1.starter.test.js
  Frontend/LostAndFoundMobile/e2e/2.register.test.js
  Frontend/LostAndFoundMobile/e2e/3.login.test.js
  Frontend/LostAndFoundMobile/e2e/jest.config.js
  Frontend/LostAndFoundMobile/package-lock.json
  Frontend/LostAndFoundMobile/package.json
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/MainComponents.test.tsx
  Frontend/LostAndFoundMobile/src/Pages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/yarn.lock
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add common build step
  Pipelines/Frontend/Templates/build-and-publish-react-native-app-template.yml
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml
Due: none

Fix: Missing parameter definition
  Pipelines/Frontend/Templates/build-react-native-app-template.yml
Due: none

Feat: Add common build pipelines
  Pipelines/Frontend/Templates/build-common-node-module-app-template.yml
  Pipelines/Frontend/build-lostandfound-common-pipeline.yml
Due: none

Fix: Rename template file
  Pipelines/Frontend/Templates/build-common-node-module-template.yml
Due: none

Fix: Change parameter name
  Pipelines/Frontend/build-lostandfound-common-pipeline.yml
Due: none

Feat: Add npm install step to common node build pipeline
  Pipelines/Frontend/Templates/build-common-node-module-template.yml
Due: none

Feat: Separate npm install and npx tsc to seprate steps
  Pipelines/Frontend/Templates/build-common-node-module-template.yml
Due: none

Feat: Reimplement filter, search and sort logic
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/ResourceParametersMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Internal/PaginationMetadata.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/ResourceParameters/PublicationsResourceParameters.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Models/CoordinateLocationBoundaries.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Models/PublicationEntityPageParameters.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/BaseRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/IPublicationsRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/IRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/PublicationsRepository.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/MappingProfiles/ResourceParametersMappingProfileTests.cs
Due: none

Refactor: New folder for Helpers
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/CoreServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/CreatePublicationRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidator.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/Helpers/DateTimeProviders/DateTimeProvider.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/Helpers/DateTimeProviders/IDateTimeProvider.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/BaseRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/IRepository.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/DateTimeProviders/DateTimeProviderTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/CreatePublicationRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
Due: none

Feat: Property mapping service
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/CoreServicesRegistration.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/Helpers/PropertyMapping/Interfaces/IPropertyMappingService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/Helpers/PropertyMapping/PropertyMappingService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationStateEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/ResourceParametersMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/PublicationServices/PublicationActionsService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Internal/Interfaces/IPropertyMapping.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Internal/PropertyMapping.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Internal/PropertyMappingValue.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Responses/PublicationBaseDataResponseDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Models/CoordinateLocationBoundaries.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Models/PropertySortIndication.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Models/PublicationEntityPageParameters.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Models/SortIndicatorData.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/PublicationsRepository.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/CoreServicesRegistrationTests.cs
Due: none

Refactor: Publication controller
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/ResourceParameters/PublicationsResourceParameters.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Responses/PublicationBaseDataResponseDto.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Entities/Publication.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/BaseRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Repositories/Interfaces/IRepository.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/CreatePublicationRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/Core/FluentValidators/UpdatePublicationDetailsRequestDtoValidatorTests.cs
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/FluentValidatorsRegistrationTests.cs
Due: none

Feat: Provide example orderBy value
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/ResourceParameters/PublicationsResourceParameters.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Controllers/PublicationController.cs
Due: none

Feat: Add category to base publication dto
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/Helpers/PropertyMapping/PropertyMappingService.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.Core/MappingProfiles/PublicationEntityMappingProfile.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Responses/PublicationBaseDataResponseDto.cs
Due: none

Feat: Support header transformation
  Backend/Gateway/src/LostAndFound.Gateway/ocelot.json
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

feat: Add search of publications
  Frontend/LostAndFoundMobile/Config.ts
  Frontend/LostAndFoundMobile/metro.config.js
  Frontend/LostAndFoundMobile/src/Pages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/src/Pages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/SecureStorage/Authorization.ts
  Frontend/commons/lib/Services/ProfileService/profileTypes.d.ts
  Frontend/commons/lib/Services/PublicationService/index.d.ts
  Frontend/commons/lib/Services/PublicationService/publicationTypes.d.ts
  Frontend/commons/lib/Services/PublicationService/requests/get-publications.request.d.ts
  Frontend/commons/lib/Services/PublicationService/requests/get-publications.request.js
  Frontend/commons/src/Services/PublicationService/requests/get-publications.request.ts
  Frontend/commons/src/Services/profileService/profileTypes.ts
  Frontend/commons/src/Services/publicationService/index.ts
  Frontend/commons/src/Services/publicationService/publicationTypes.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

fix: Update folders
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/LoginPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/AuthorizationPages/RegistrationPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ChatPages/ChatsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/AddPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/SearchPostsPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/EditProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePageMe.tsx
  Frontend/LostAndFoundMobile/src/Pages/index.ts
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Fix: Set coreignorecase to false
  Frontend/commons/src/services/authorizationService/index.ts
  Frontend/commons/src/services/authorizationService/loginTypes.ts
  Frontend/commons/src/services/authorizationService/registerTypes.ts
  Frontend/commons/src/services/authorizationService/requests/login.request.ts
  Frontend/commons/src/services/authorizationService/requests/logout.request.ts
  Frontend/commons/src/services/authorizationService/requests/refresh-token.request.ts
  Frontend/commons/src/services/authorizationService/requests/register.request.ts
  Frontend/commons/src/services/profileService/index.ts
  Frontend/commons/src/services/profileService/profileCommentTypes.ts
  Frontend/commons/src/services/profileService/profileTypes.ts
  Frontend/commons/src/services/profileService/requests/add-profile-comment.request.ts
  Frontend/commons/src/services/profileService/requests/delete-profile-comment.request.ts
  Frontend/commons/src/services/profileService/requests/delete-profile-picture.request.ts
  Frontend/commons/src/services/profileService/requests/edit-profile-comment.request.ts
  Frontend/commons/src/services/profileService/requests/edit-profile-picture.request.ts
  Frontend/commons/src/services/profileService/requests/edit-profile.request.ts
  Frontend/commons/src/services/profileService/requests/get-profile-comments.request.ts
  Frontend/commons/src/services/profileService/requests/get-profile-details.request.ts
  Frontend/commons/src/services/profileService/requests/get-profile.request.ts
  Frontend/commons/src/services/publicationService/index.ts
  Frontend/commons/src/services/publicationService/publicationTypes.ts
  Frontend/commons/src/services/publicationService/requests/add-publication.request.ts
  Frontend/commons/src/services/publicationService/requests/delete-publication-photo.request.ts
  Frontend/commons/src/services/publicationService/requests/delete-publication.request.ts
  Frontend/commons/src/services/publicationService/requests/edit-publication-photo.request.ts
  Frontend/commons/src/services/publicationService/requests/edit-publication-rating.request.ts
  Frontend/commons/src/services/publicationService/requests/edit-publication-state.request.ts
  Frontend/commons/src/services/publicationService/requests/edit-publication.request.ts
  Frontend/commons/src/services/publicationService/requests/get-categories.request.ts
  Frontend/commons/src/services/publicationService/requests/get-publication.request.ts
  Frontend/commons/src/services/publicationService/requests/get-publications.request.ts
Due: none

Fix: Deleted Services
  Frontend/commons/src/Services/AuthorizationService/requests/login.request.ts
  Frontend/commons/src/Services/AuthorizationService/requests/logout.request.ts
  Frontend/commons/src/Services/AuthorizationService/requests/refresh-token.request.ts
  Frontend/commons/src/Services/AuthorizationService/requests/register.request.ts
  Frontend/commons/src/Services/ProfileService/requests/add-profile-comment.request.ts
  Frontend/commons/src/Services/ProfileService/requests/delete-profile-comment.request.ts
  Frontend/commons/src/Services/ProfileService/requests/delete-profile-picture.request.ts
  Frontend/commons/src/Services/ProfileService/requests/edit-profile-comment.request.ts
  Frontend/commons/src/Services/ProfileService/requests/edit-profile-picture.request.ts
  Frontend/commons/src/Services/ProfileService/requests/edit-profile.request.ts
  Frontend/commons/src/Services/ProfileService/requests/get-profile-comments.request.ts
  Frontend/commons/src/Services/ProfileService/requests/get-profile-details.request.ts
  Frontend/commons/src/Services/ProfileService/requests/get-profile.request.ts
  Frontend/commons/src/Services/PublicationService/requests/add-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/delete-publication-photo.request.ts
  Frontend/commons/src/Services/PublicationService/requests/delete-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-photo.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-rating.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication-state.request.ts
  Frontend/commons/src/Services/PublicationService/requests/edit-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-categories.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-publication.request.ts
  Frontend/commons/src/Services/PublicationService/requests/get-publications.request.ts
  Frontend/commons/src/Services/authorizationService/index.ts
  Frontend/commons/src/Services/profileService/index.ts
  Frontend/commons/src/Services/profileService/profileCommentTypes.ts
  Frontend/commons/src/Services/profileService/profileTypes.ts
  Frontend/commons/src/Services/publicationService/index.ts
  Frontend/commons/src/Services/publicationService/publicationTypes.ts
Due: none

Feat: Add declare to types
  Frontend/commons/lib/services/authorizationService/loginTypes.d.ts
  Frontend/commons/lib/services/profileService/profileCommentTypes.d.ts
  Frontend/commons/lib/services/profileService/profileTypes.d.ts
  Frontend/commons/lib/services/publicationService/publicationTypes.d.ts
  Frontend/commons/lib/services/publicationService/requests/get-publications.request.d.ts
Due: none

Feat: Change connection strings to mongodb
  Backend/AuthService/src/LostAndFound.AuthService.DataAccess/Settings/AuthServiceDatabaseSettings.cs
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Development.json
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.json
  Backend/AuthService/tests/LostAndFound.AuthService.UnitTests/ServiceRegistrations/AuthServiceDataAccessRegistrationTests.cs
  Backend/ChatService/src/LostAndFound.ChatService.DataAccess/Settings/ChatServiceDatabaseSettings.cs
  Backend/ChatService/src/LostAndFound.ChatService/appsettings.Development.json
  Backend/ChatService/src/LostAndFound.ChatService/appsettings.json
  Backend/ChatService/tests/LostAndFound.ChatService.UnitTests/ServiceRegistrations/ChatServiceDataAccessRegistrationTests.cs
  Backend/ProfileService/src/LostAndFound.ProfileService.DataAccess/Settings/ProfileServiceDatabaseSettings.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.Development.json
  Backend/ProfileService/src/LostAndFound.ProfileService/appsettings.json
  Backend/ProfileService/tests/LostAndFound.ProfileService.UnitTests/ServiceRegistrations/ProfileServiceDataAccessRegistrationTests.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.DataAccess/Settings/PublicationServiceDatabaseSettings.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.Development.json
  Backend/PublicationService/src/LostAndFound.PublicationService/appsettings.json
  Backend/PublicationService/tests/LostAndFound.PublicationService.UnitTests/ServiceRegistrations/PublicationServiceDataAccessRegistrationTests.cs
Due: none

Refactor: Change authentication settings
  Backend/AuthService/src/LostAndFound.AuthService.CoreLibrary/Settings/AuthenticationSettings.cs
  Backend/AuthService/src/LostAndFound.AuthService/Program.cs
  Backend/ChatService/src/LostAndFound.ChatService.CoreLibrary/Settings/AuthenticationSettings.cs
  Backend/ChatService/src/LostAndFound.ChatService/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/appsettings.Development.json
  Backend/ProfileService/src/LostAndFound.ProfileService.CoreLibrary/Settings/AuthenticationSettings.cs
  Backend/ProfileService/src/LostAndFound.ProfileService/Program.cs
  Backend/PublicationService/src/LostAndFound.PublicationService.CoreLibrary/Settings/AuthenticationSettings.cs
  Backend/PublicationService/src/LostAndFound.PublicationService/Program.cs
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

feat: Update readme
  Frontend/LostAndFoundMobile/README.md
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add edit post and delete post/comment
  Frontend/LostAndFoundMobile/src/Components/MainComponents.tsx
  Frontend/LostAndFoundMobile/src/Components/index.ts
  Frontend/LostAndFoundMobile/src/Navigation/DrawerStack.tsx
  Frontend/LostAndFoundMobile/src/Navigation/HomeStack.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/EditPostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/PostPages/PostPage.tsx
  Frontend/LostAndFoundMobile/src/Pages/ProfilePages/ProfilePage.tsx
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Gradle version upgrade to 7.6 to support Java 19
  Frontend/LostAndFoundMobile/android/gradle/wrapper/gradle-wrapper.properties
Due: Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml

Feat: Add cors
  Backend/Gateway/src/LostAndFound.Gateway/Program.cs
  Backend/Gateway/src/LostAndFound.Gateway/appsettings.Development.json
  Backend/README.md
Due: Pipelines/Backend/build-with-tests-gateway-pipeline.yml

Refactor: Change issuer value
  Backend/AuthService/src/LostAndFound.AuthService/appsettings.Development.json
Due: none

Fix: Update requests to backend in commons library
  Frontend/commons/lib/http.js
  Frontend/commons/lib/services/profileService/profileCommentTypes.d.ts
  Frontend/commons/lib/services/profileService/profileCommentTypes.js
  Frontend/commons/lib/services/profileService/requests/delete-profile-comment.request.d.ts
  Frontend/commons/lib/services/profileService/requests/delete-profile-comment.request.js
  Frontend/commons/lib/services/profileService/requests/delete-profile-picture.request.d.ts
  Frontend/commons/lib/services/profileService/requests/delete-profile-picture.request.js
  Frontend/commons/lib/services/profileService/requests/edit-profile-picture.request.d.ts
  Frontend/commons/lib/services/profileService/requests/edit-profile-picture.request.js
  Frontend/commons/lib/services/publicationService/requests/delete-publication-photo.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/delete-publication-photo.request.js
  Frontend/commons/lib/services/publicationService/requests/delete-publication.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/delete-publication.request.js
  Frontend/commons/lib/services/publicationService/requests/edit-publication-photo.request.d.ts
  Frontend/commons/lib/services/publicationService/requests/edit-publication-photo.request.js
  Frontend/commons/src/http.ts
  Frontend/commons/src/services/profileService/profileCommentTypes.ts
  Frontend/commons/src/services/profileService/requests/delete-profile-comment.request.ts
  Frontend/commons/src/services/profileService/requests/delete-profile-picture.request.ts
  Frontend/commons/src/services/profileService/requests/edit-profile-picture.request.ts
  Frontend/commons/src/services/publicationService/requests/delete-publication-photo.request.ts
  Frontend/commons/src/services/publicationService/requests/delete-publication.request.ts
  Frontend/commons/src/services/publicationService/requests/edit-publication-photo.request.ts
Due: none

Path conditions:
  Pipelines/Backend/build-with-tests-gateway-pipeline.yml: any of: Backend/Gateway
  Pipelines/Frontend/build-lostandfound-mobile-pipeline.yml: any of: Frontend/LostAndFoundMobile
